*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.planbox{
    border: 1px solid lightgray;
    height: 145vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.next2{
    background: rgb(220, 47, 47);
    color: white;
    border: none;
    height: 65px;
    font-size: 25px;
    width: 33%;
}
.next2:hover{
    cursor: pointer;
}
.chooseplan{
    padding: 0px 0px 38px 112px;
}
.boxprg{
   color: rgb(111, 109, 109);
   padding: 30px 80px 30px 95px;
}
.pgbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}